= form_for [@volunteerable, @events, @items, @volunteer], remote: true, :html => { :multipart => true } do |f|
	%br
	%h3 Thank You For Volunteering!
	= f.label :name
	= f.text_field :name, style: 'width: 400px !important;'
	= f.label :quantity_given
	= f.text_field :quantity_given, style: 'width: 400px !important;'
	/ = f.label :profile_pic
	/ = f.file_field :profile_pic
	= f.submit 'Volunteer', remote: true, class: 'btn-success btn-small', style: 'width: 415px !important;'
= link_to 'cancel', '#' ,class: 'cancel-volunteer'
%br
%br