= form_for @user, :multipart => true do |f|
	= f.label :name
	= f.text_field :name
	= f.label :email
	= f.text_field :email
	= f.label :profile_pic
	= f.file_field :profile_pic
	= f.label :password
	= f.text_field :password
	= f.label :password_confirmation
	= f.text_field :password_confirmation
	%br
	= f.submit 