.container
	.row
		/ .span3
		/ 	= image_tag @user.profile_pic.url, style: 'width:15%; float: left; margin-right: 10px;'
		/ 	%h5= @user.name
		/ 	= link_to 'Edit Profile', edit_user_path(@user)
		/ 	%br
	- if @events.present?
		.span9
			.created-event
				= render 'events/event'
	- else
		.event-creator-box
			.row.create-box
				.span4{style: 'margin-right: 140px;'}
					= form_for [@user, @event], :html => {:multipart => true}, remote: true do |f|
						%h3 Create Your Event!
						= f.label :name
						= f.text_field :name
						= f.label :time
						= f.text_field :time
						= f.label :date
						= f.text_field :date
						%br
						= f.submit 'Create Event', class: 'btn-large btn-primary create-event'

						%br
				.span5{style: 'width: 600px; margin: 0 auto;'}
					= image_tag 'BL_JungleFunPartySet5.jpg'