.container
	.row
		.span3
			= image_tag @user.profile_pic.url, style: 'width:15%; float: left; margin-right: 10px;'
			%h5= @user.name
			= link_to 'Edit Profile', edit_user_path(@user)
			%brs
			%br
			- if @events.present?
			- else
				.create-event
					= render 'events/form'
		.span9
			.created-event
				= render 'events/event'

