.container
	.row
		.span3
			= image_tag @user.profile_pic.url, style: 'width:80px; float: left; margin-right: 10px;'
			%h4= @user.name
			= link_to 'Edit Profile', edit_user_path(@user), class: 'btn-small btn-warning'
			%br
			%br
			%h4 Create Event
			= render 'events/form'
		.created-event
			= render 'events/event'

