.span8{style: 'margin: 0;'}
	%h3
		= @event.name
		- if current_user
		- else
			= link_to 'Edit', edit_user_event_path(@event.eventable, @event), class: 'btn-small btn-warning'
			= link_to 'Delete', user_event_path(@event.eventable, @event), class: 'btn-small btn-danger', method: :delete
	.span7{style: 'margin: 0;'}
		.event-photo{style: 'width: 100%;'}
			- if @event.photo.file?
				= image_tag @event.photo, style: 'width: 100%;'
			- else
				%h3 Upload an Image for your Event
				= link_to 'upload image'
		%br
	.span1
		%h3 Location:
