= form_for [@eventable, @event], :html => {:multipart => true}, remote: true do |f|
	= f.label :name
	= f.text_field :name
	= f.label :time
	= f.text_field :time
	= f.label :date
	= f.text_field :date
	= f.submit 'Create Event', class: 'btn btn-primary', remote: true
	