.event-creator-box
	.row.create-box
		.span4{style: 'margin-right: 120px;'}
			= form_for [@user, @event], :html => {:multipart => true} do |f|
				%h3 Create Your Event!
				= f.label :name
				= f.text_field :name
				= f.label :date_time
				= f.datetime_select :date_time
				%br
				= f.submit 'Create Event', class: 'btn-large btn-primary create-event'
		.span2{style: 'width: 600px; margin: 0 auto;'}
			= image_tag 'BL_JungleFunPartySet5.jpg'